h4{
	color:rgba(44, 62, 80,1.0);
	font-size:30px;
}
.selectedbutton{
	background:black;
	color:white;
}
.questioncontainer{
	width:700px;
	margin-left:350px;
	text-align:center;
	height:600px;
	background-color:rgba(189, 195, 199,0.5);
}
select{
	font-size:30px;
	background:none;
	border:none;
	border-bottom:1px dotted rgba(44, 62, 80,1.0);
	color:green;
}
#winningchoice{
	color:rgba(44, 62, 80,1.0);
	font-size:50px;
}
#submitbutton{
	background:none;
	font-size:30px;
}
h2{
	color:rgba(44, 62, 80,1.0);
}
/*body{
	background:rgba(189, 195, 199,1.0);
}
header{
	background-image: url("http://res.cloudinary.com/ratebeer/image/upload/plac_26594.jpg");
	background-size:100%;
}*/