#homepage{
	padding-top:30px;
	margin-bottom:30px;
	width:40%;
	border:solid black 2px;
	background-color:rgba(149, 165, 166,0.8);
	margin-top:50px;
	margin-left:100px;
	color:black;
}

h1{
	text-align:center;
	font-family: 'Playfair Display', serif;
}
p{
	text-align:center;
	font-size:18px;
	font-family: 'Playfair Display', serif, italic;
}
.bold{
	font-weight:bold;
}
.twitter-timeline{
	float:right;
}

@media (max-width:600px) {
	#homepage{
		width:100%;
		float:left;
		clear:all;
		margin-left:0px;
		padding:0px;
	}
	
header{
	height:160px;
	clear:both;
	width:100%;
	/*background-color: rgba(204,166,22,0.3);*/
	border-bottom:solid white 1px;
}
#leftdiv{
	height:150px;
	width:45%;
	float:left;
	float:left;
	display:inline;
}

#rightdiv{
	height:150px;
	width:55%;
	float:right;
	display:inline;
}
#centerdiv{
	height:150px;
	width:15%;
	display:inline;
}
#headerlist{
	width:100%;
	display:inline;
}

#About{
	float:right;
	margin-right:5%;
	height:33px;
	width:70px;
	margin-top:70px;
}
#TapList{
	float:right;
	margin-right:5%;
	height:33px;
	width:95px;
	margin-top:70px;
}
#Contact{
	float:left;
	margin-left:5%;
	height:33px;
	width:93px;
}

#Anything{
	float:left;
	margin-left:5%;
	height:33px;
	width:105px;
}

#Logo{
	margin-top:5px;
	/*background-image:url("https://emeraldcityburgersbrews.files.wordpress.com/2014/09/thepinebox.jpg");*/
	height:150px;
	width:150px;
	float:left;
	/*padding-left:30px;*/
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.bar{
	display:inline;
}
.word{
	background-color: rgba(192, 57, 43,1.0);
	color: rgba(236, 240, 241,1.0);
	font-size:25px;
	font-family: 'Philosopher', sans-serif; 
	font-weight:400;
	font-style:italic;
	/*height:100px;
	width:100px;*/
	margin-top:50px;
	border:1px solid white;
	/*border-radius:4px;*/
}
img {
 height:150px;
 width:150px;
 border:1px solid white;
/* border-radius:10px;*/
}




}