#homepage{
	padding-top:30px;
	height:475px;
	width:65%;
	border:solid black 2px;
	background-color:rgba(149, 165, 166,0.8);
	margin-top:50px;
	margin-left:275px;
	color:black;
}

h1{
	text-align:center;
	font-family: 'Playfair Display', serif;
}
p{
	text-align:center;
	font-size:18px;
	font-family: 'Playfair Display', serif, italic;
}
.bold{
	font-weight:bold;
}


